<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714737943609-hku4o3fk2rpje078uiutp79712v3pfes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714737943609-hku4o3fk2rpje078uiutp79712v3pfes</string>
	<key>API_KEY</key>
	<string>AIzaSyAn2sc0OczrIXKtI3btmu76HIQPreU6C28</string>
	<key>GCM_SENDER_ID</key>
	<string>714737943609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LEARNING-UIKit.EMenu-------------</string>
	<key>PROJECT_ID</key>
	<string>emenu-2aa1f</string>
	<key>STORAGE_BUCKET</key>
	<string>emenu-2aa1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714737943609:ios:065de96c3f283bf5cf79e8</string>
</dict>
</plist>